*  {
    transition: background 500ms in_out_cubic, color 500ms in_out_cubic;
}

Screen {
    layers: base overlay notes notifications;
    overflow: hidden;
}

Screen > Container {
    height: 100%;
    overflow: hidden;
}

Nav {
    height: 6vh;
    min-height: 3;
    border: solid green;
}

Main {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    background: $surface;

}

Top {
    background: $surface;
    color: $text;
    height: 25vh;
    min-height: 10;
    dock: top;
    layer: notes;
    border-bottom: hkey $primary;
    offset-y: 0;
    transition: offset 400ms in_out_cubic;
    padding: 1;
}

Top:focus {
    offset: 0 0 !important;
}

Top.-hidden {
    offset-y: -100%;
}

#item_search {
    width: 20%;
}

#item_input {
    width: 70%;
}

#item_error {
    color: red;
    text-style: bold;
}

.close {
    text-align: right;
    text-style: bold;
}

.pad {
    margin: 1 0;
}

.subtitle {
    padding-left: 1;
    padding-top: 1;
    border-bottom: heavy $panel;
    color: $text;
    text-style: bold;
}
